<?xml version="1.0"?>
<config>
    <modules>
        <Blackbox_Supplier>
            <version>0.5</version>
        </Blackbox_Supplier>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>Blackbox_Supplier_Block_Product_View</product_view>
                </rewrite>
            </catalog>
            <blackbox_supplier>
                <class>Blackbox_Supplier_Block</class>
            </blackbox_supplier>
        </blocks>
        <helpers>
            <blackbox_supplier>
                <class>Blackbox_Supplier_Helper</class>
            </blackbox_supplier>
        </helpers>
        <models>
            <blackbox_supplier_config>
                <class>Blackbox_Supplier_Model_Collector</class>
            </blackbox_supplier_config>
            <blackbox_supplier>
                <class>Blackbox_Supplier_Model</class>
            </blackbox_supplier>
            <catalog>
                <rewrite>
                    <product>Blackbox_Supplier_Model_Product</product>
                    <product_attribute_backend_media>Blackbox_Supplier_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
        </models>

        <resources>
            <supplier_setup>
                <setup>
                    <module>Blackbox_Supplier</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </supplier_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <modules>
                        <blackbox_supplier before="Mage_Checkout">Blackbox_Supplier</blackbox_supplier>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
